.App-main {
  padding-top: 60px;
}
.section-first-bg {
  height: 700px;
  background-image: url('./img/layer-bg.png');
  background-size: cover;
  background-attachment: fixed;
}

.section-first {
  height: 700px;
  background-image: url('./img/toys-layer.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -50px;
  text-align: center;
}

.app-title {
  font-family: Hobo;
  padding-top: 200px;
  text-align: center;
  color: #fff;
  font-size: 46px;
  font-weight: 100;
  line-height: 70px;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-transform: uppercase;
}

.app-under_title {
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
}

.skills-logo img {
  width: 100px;
  height: auto;
  display: block;
}

.skills-logo div {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.skills-logo a {
  display: block;
}

.section-title {
  font-family: Hobo;
}
